#!version:1.0.0.1

###  Static Configuration  ###

static.security.user_password = user:user
static.security.user_password = admin:admin
static.managementserver.enable = 0
static.managementserver.url = http://127.0.0.1/
static.auto_provision.mode = 0
static.auto_provision.server.url = http://127.0.0.1/
static.autoprovision.32.url = http://127.0.0.1/
static.autoprovision.32.code = 
static.autoprovision.33.url = http://127.0.0.1/
static.autoprovision.33.code = 
static.autoprovision.34.url = http://127.0.0.1/
static.autoprovision.34.code = 
static.autoprovision.35.url = http://127.0.0.1/
static.autoprovision.35.code = 
static.autoprovision.36.url = http://127.0.0.1/
static.autoprovision.36.code = 
static.autoprovision.37.url = http://127.0.0.1/
static.autoprovision.37.code = 
static.autoprovision.38.url = http://127.0.0.1/
static.autoprovision.38.code = 
static.autoprovision.39.url = http://127.0.0.1/
static.autoprovision.39.code = 
static.autoprovision.40.url = http://127.0.0.1/
static.autoprovision.40.code = 
static.autoprovision.41.url = http://127.0.0.1/
static.autoprovision.41.code = 
